body {
  width: 90%;
  margin: 0 auto;
}
h6,
h4,
p {
  margin: 0;
}

.bar {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e9e6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  padding: 12px;
  background-color: #fff3df;
  display: grid;
  place-items: center;
}

.bg-nav {
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.top-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 100px;
  background-color: #f0f4f2;
  border-radius: 8px;
  padding: 10px 0;
  margin: 20px 0;
}
.top-nav a {
  color: black;
  text-decoration: none;
}

.bg-green-top {
  position: relative;
  border-radius: 8px;
  border: 4px solid #98dcaf;
  background-color: #03a84e;
  color: #ffffff;
  height: 106px;
  display: flex;
}

.food-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
	width: 80%;
  margin-left: 20px;
}
.food-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
}
 
.a-link {
	padding: 6px;
	border-radius: 100px;
}

.food-link{
color: #03A84E;
background-color: #E9FBF2;
border: none;
}

.card-wrapper {
	border-radius: 8px;
	padding: 15px;
	margin: 20px 0;
}
.delivery-bg {
	border: 1px solid #6ECE8A;
	background-color: #F6FFFA;
}

.flex-food {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.food-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.bg-green {
	color: #03A84E;
	
}

.text-bold {
  font-weight: bold;
}

.text-gray {
	color: #4B6358;
}

.border-dark {
  border: 1px solid #BDEECD80;
  margin: 15px 0;
}

.cleaning-wrapper {
	border-radius: 8px;
	border: 1px solid #FFC260;
	background-color: #FFFBF5;
}

.orange-text {
	color: #FF9D00;
}

.home-link {
	background-color: #FFF3DF;
border: none;

}

.orange-border {
	border: 1px solid #FFDA9F80;
	margin: 10px 0; 
}

footer {
	border-top: 1px solid #BDEECD80;
	padding-top: 5px;
	color: #8AA398;
	width: 100%;
}
.bottom-nav {
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}
footer a {
	text-decoration: none;
	color: #8AA398;
}

.first-nav {
	color: #03A84E;
}

.first-nav a {
	color: #03A84E;
}


/* The Modal (background) */
.modal2,
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2,
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2:hover,
.close2:focus,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cleaning-border {
	border-top: 2px dashed #CBD8D2;
  margin-top: 15px;
  padding-top: 10px
}

.delivery-border {
	border: 2px dashed #CBD8D2;
  margin: 20px 0;
  padding: 7px;
}

.modal-top {
	display: flex;
  justify-content: space-between;
	align-items: center;
}

.order-group {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  margin: 20px 0;
}

.order-time {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.order-wrapper {
  display: flex;
  gap: 10px;
  align-content: flex-start;
  justify-content: space-between;
}

.date {
  width: 30%;
  text-align: end;
}

.line {
  display: flex;
  gap: 28px;
  align-items: flex-start;
  align-content: center;
}

.order-img {
  display: flex;
  flex-direction: column;
  gap: 2px;
align-items: center;
}

.order-margin {
  margin-left: 7px;
}

.text-green {
  color: #03A84E;
}